div {
background-color: aquamarine;
}

#pid{
    background-color: blue;
}

.h1class{
    background-color: chartreuse;
}

div.divclass {
    background-color: darkgreen;
}

#divid{
    background-color: blueviolet;
}

.h2class,  .h2class_2
{
    background-color: deeppink;
    color: aqua;
}

.preview
{
    background-color: brown;
}

.a
{
    background-color: azure;
}

.b
{
    background-color: bisque;
}

.b.c
{
    background-color: darkgoldenrod;
}

.b.a
{
    background-color: blueviolet;
}

.a.b.c
{
    background-color:hotpink;
}

.b.a
{
    background-color: blue;
}

.b.c
{
    background-color: chartreuse;
}

.trinity .limits .form
{
    background-color: gold;
}

.form
{background-color: brown;}

